{pre_hooks, [{"(linux|darwin)", compile, "make nif_compile DRIVER_REV=v8.9.16"}]}.
{post_hooks, [{"(linux|darwin)", clean, "make nif_clean"}]}.

{plugins, [rebar3_hex]}.

{deps, [
    {trie, "1.7.4"}
]}.

{so_name, "phonenumber_util_nif.so"}.

{eunit_tests, [{dir, "test"}]}.

{erl_opts, [
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_export_all,
    warnings_as_errors
]}.
