{post_hooks,[{'get-deps',"sh -c './build_deps.sh https://github.com/googlei18n/libphonenumber.git libphonenumber-7.6.0'"}]}.

{
	port_specs, 
	[
  		{".*", "priv/phonenumber_util_nif.so", ["c_src/*.cpp"], 
		[{
			env, 
			[
				{".*", "CXXFLAGS", "$CXXFLAGS -I deps/libphonenumber/cpp/build/install/include -fPIC -g -Wall -Wextra -Werror -fno-exceptions -fno-rtti -Wno-missing-field-initializers -Wno-unused-parameter -Os -DI18N_PHONENUMBERS_NO_THREAD_SAFETY"},
				{"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)", "LDFLAGS", "$LDFLAGS -lstdc++ -Ldeps/libphonenumber/cpp/build/install/lib/ -l:libphonenumber.a -lboost_system -lboost_thread -lboost_date_time -licui18n -licuuc -lprotobuf"}
			]
		}]}
	]
}.

{cover_enabled, true}.
{cover_print_enable, true}.
