{post_hooks,[{'get-deps',"sh -c './build_deps.sh'"}]}.

{
	port_specs, 
	[
  		{".*", "priv/phonenumber_util_nif.so", ["c_src/*.cpp"], 
		[{
			env, 
			[
				{".*", "CXXFLAGS", "$CXXFLAGS -I deps/libphonenumber/cpp/build/install/include/phonenumbers/ -fPIC -g -Wall -Wextra -Werror -fno-exceptions -fno-rtti -Wno-missing-field-initializers -Wno-unused-parameter -Os -DI18N_PHONENUMBERS_NO_THREAD_SAFETY"},
				{"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)", "LDFLAGS", "$LDFLAGS -lstdc++ -Lpriv -lphonenumber"}
			]
		}]}
	]
}.

{cover_enabled, true}.
{cover_print_enable, true}.